/*   Tabs*/

@media only screen and (max-width: 1650px){
    div.css-heg063-MuiTabs-flexContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    button.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
        width:30%
    }
}

@media only screen and (max-width: 800px){
    div.css-heg063-MuiTabs-flexContainer {
        flex-direction: column;
        align-items: center;
    }
}

/* This is for second part */
.main-color {
    color:#ff9f08;
}

.href-image {
    color: #ff9f08;
    text-decoration: none;
    font-weight: bold;
}


.href-image:hover {
    color: white
}

.href-blue {
    color: #ff9f08;
    text-decoration: none;
    font-weight: bold;
}

.href-blue:hover {
    color: #007bff;
}
/* This is for main part */
.img-fitness {
    max-width: 100%;
    max-height: 100%;
}

.m-blur {
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(50px);
    height: 100vh;
}

.m-blur-part {
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(50px);
}

ListItemButton img {
    justify-content: center
}

img.listitem_img {
    max-width: 50%;
    max-height: 50%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

img.listitem_logoimg {
    margin: auto;
    padding: 10px 10px;
    max-width: 100%;
    height: auto;
}

.css-cvhtoe-MuiButtonBase-root-MuiListItemButton-root
{
    padding-left: 0px;
    padding-right: 0px;
}


